logger:
  level: info
cache:
  capacity: 100000
  metric_interval: 60
  ttl: 86400
network:
  interface: eth0
influxdb:
  batch_size: 5000
  flush_interval: 5000
  url: https://localhost
  token: 111111111
  org: home
  bucket: streak